## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## NuGet
*.nupkg
*.snupkg
packages/
!packages/repositories.config

## IDE
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Logs
logs/
*.log

## OS
.DS_Store
publish/
